<div nz-row [nzGutter]="8">
  <div nz-row>
    <nz-input 
    [formControl]="search" 
    [nzType]="'search'" 
    [nzPlaceHolder]="'请输入你要搜索的单'" 
    ></nz-input>
  </div>
  <nz-spin [nzTip]="'正在读取数据...'" *ngIf="orderArray.length === 0">
    <nz-alert 
    [nzType]="'info'" 
    [nzMessage]="'正在读取单信息'" 
    [nzDescription]="'正在读取单信息，请耐心等待。'">
    </nz-alert>
  </nz-spin>
  <div *ngIf="orderArray.length > 0" 
    [nzType]="'flex'" 
    [nzJustify]="'flex-start'"
    nz-row style="flex-wrap: wrap;">
    <app-order-item
    nz-col 
    style="width: 400px;" 
    (removeUser)="onDelete($event)" 
    [order]="order" *ngFor="let order of orderArray"
    ></app-order-item>
  </div>
</div>