<div nz-row [nzGutter]="8">
  <div class="search-container" 
  nz-row 
  [nzType]="'flex'" 
  [nzJustify]="'center'" 
  >
    <div class="search" nz-col [nzSpan]="12">
      <nz-input 
      [formControl]="search" 
      [nzType]="'search'" 
      [nzPlaceHolder]="'请输入你要搜索的单'" 
      ></nz-input>
      <div class="company-search-result" *ngIf="companySearchRes?.length > 0 && dropdownSwitcher === true">
        <div class="company-search-item" *ngFor="let company of companySearchRes">
          <p (click)="getSearchCompany(company.id)">{{company.company}}</p>
        </div>
      </div>
    </div>
  </div>
  <nz-tabset 
  [(nzSelectedIndex)]="selectedIndex" 
  (nzSelectChange)="changeTab($event)">
    <nz-tab *ngFor="let tab of tabs">
      <ng-template #nzTabHeading>
        {{tab.label}}
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <div class="newly" *ngIf="selectedIndex == 0">
    <nz-spin [nzTip]="'正在读取数据...'" *ngIf="orderArray.length === 0">
      <nz-alert 
      [nzType]="'info'" 
      [nzMessage]="'正在读取单信息'" 
      [nzDescription]="'正在读取单信息，请耐心等待。'">
      </nz-alert>
    </nz-spin>
    <div *ngIf="orderArray.length > 0" 
      [nzType]="'flex'" 
      [nzJustify]="'space-around'"
      nz-row style="flex-wrap: wrap;">
      <app-order-item
      nz-col 
      style="width: 400px;margin-bottom: 20px;" 
      (removeUser)="onDelete($event)" 
      [order]="order" *ngFor="let order of orderArray"
      ></app-order-item>
    </div>
  </div>
  <div class="result" *ngIf="selectedIndex == 1">
    <nz-spin [nzTip]="'正在读取数据...'" *ngIf="searchArray.length === 0">
      <nz-alert 
      [nzType]="'info'" 
      [nzMessage]="'正在读取单信息'" 
      [nzDescription]="'正在读取单信息，请耐心等待。'">
      </nz-alert>
    </nz-spin>
    <div *ngIf="searchArray.length > 0" 
      [nzType]="'flex'" 
      [nzJustify]="'space-around'"
      nz-row style="flex-wrap: wrap;">
      <h1>搜索“{{keyword}}”的结果:</h1>
      <app-order-item
      nz-col 
      style="width: 400px;margin-bottom: 20px;" 
      (removeUser)="onDelete($event)" 
      [order]="order" *ngFor="let order of searchArray"
      ></app-order-item>
    </div>
  </div>
</div>