<nz-steps [(nzCurrent)]="current">
  <nz-step [nzTitle]="'公司信息'"></nz-step>
  <nz-step [nzTitle]="'单的信息'"></nz-step>
</nz-steps>

<div class="step1" *ngIf="current === 0">
  <h1>填写公司信息</h1>
  <form nz-form [formGroup]="companyForm" (ngSubmit)="submitForm($event,userForm.value)">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>公司名</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="companyName" [nzType]="'text'" [nzPlaceHolder]="'async validate try to write JasonWood'" [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>法人</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="legalPerson" [nzType]="'text'" [nzPlaceHolder]="'async validate try to write JasonWood'" [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>负责人</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="responsiblePerson" [nzType]="'text'" [nzPlaceHolder]="'async validate try to write JasonWood'" [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>电话</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="phone" [nzType]="'text'" [nzPlaceHolder]="'async validate try to write JasonWood'"
          [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>E-mail</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="email" [nzType]="'text'" [nzPlaceHolder]="'async validate try to write JasonWood'" [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>传真</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="fax" [nzType]="'text'" [nzPlaceHolder]="'async validate try to write JasonWood'" [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>地址</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="address" [nzType]="'text'" [nzPlaceHolder]="'async validate try to write JasonWood'" [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>网址</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="website" [nzType]="'text'" [nzPlaceHolder]="'async validate try to write JasonWood'" [nzSize]="'large'">
        </nz-input>
      </div>
    </div>
    <!-- <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>部门</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-select style="width: 220px;" formControlName="department" [nzPlaceHolder]="'choose option'" nzAllowClear>
          <nz-option *ngFor="let option of depart" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>职别</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-select style="width: 220px;" formControlName="role" [nzPlaceHolder]="'choose option'" nzAllowClear>
          <nz-option *ngFor="let role of roles" [nzLabel]="role.label" [nzValue]="role.value" [nzDisabled]="role.disabled">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!userForm.valid" type="submit">提交</button>
      </div>
    </div> -->
  </form>
</div>
<div class="step2" *ngIf="current === 1">
  <h1>填写单的信息</h1>
</div>

<div class="steps-action">
  <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
    <span>上一步</span>
  </button>
  <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < 1">
    <span>下一步</span>
  </button>
  <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 1">
    <span>完成</span>
  </button>
</div>