<nz-layout>
  <nz-header>
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-between'">
      <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
        <a routerLink="index" style="display: flex;align-items: center;">
          <img width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </a>
        <span>Admin</span>
      </div>
      <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
        <a (click)="goSet()">
          <i class="anticon anticon-setting"></i>
        </a>
        <a (click)="logOut()">退出</a>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider>
      <router-outlet name="sidebar"></router-outlet>
    </nz-sider>
    <nz-content>
      <article>
        <router-outlet></router-outlet>
      </article>
    </nz-content>
  </nz-layout>
  <nz-footer>
    <p>Copyright</p>
  </nz-footer>
</nz-layout>
