nz-layout {
  width: 100%;
  height: 100%;
  display: flex;
}
nz-layout nz-header {
  height: auto;
}
nz-layout nz-header span {
  color: white;
}
nz-layout nz-header i {
  color: white;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 20px;
}
nz-layout nz-header a {
  font-size: 16px;
  color: white;
  vertical-align: middle;
}
nz-layout article {
  padding: 20px;
  box-sizing: border-box;
}
