<div style="width: 100%;">
  <nz-card>
    <ng-template #title>
      {{companyObj?.companyName}}
    </ng-template>
    <ng-template #extra>
      <button (click)="onUpdate()" nz-button [nzType]="'primary'" [nzShape]="'circle'">
        <i class="anticon anticon-edit"></i>
      </button>
      <button (click)="onDelete()" nz-button [nzType]="'danger'" [nzShape]="'circle'">
        <i class="anticon anticon-delete"></i>
      </button>
    </ng-template>
    <ng-template #body>
      <p>业务：{{order?.sales}}</p>
      <p>网址：{{companyObj?.website}}</p>
      <p>下单时间：{{order?.orderDate}}</p>
    </ng-template>
  </nz-card>
</div>
  